test_case_generator/test_cases
exact_solution/nohup.out
exact_solution/get_data.py
approximation_solution_1/test_cases/**/*.txt
approximation_solution_1/test_cases/exact_solution_tests/*.txt
approx_solution_2/test_cases/*.txt